<div class="djs-wrapper">
    <h2>The Djs</h2>
    <ul class="djs">
        <li>
            <img src="~/Images/Djs/Sooz.png" />
        </li>
        <li>
            <img src="~/Images/Djs/Sooz.png" />
        </li>
        <li>
            <img src="~/Images/Djs/Sooz.png" />
        </li>
    </ul>
</div>



@*@{ Html.RenderPartial("_Player"); };*@





@section Scripts {
}